.subBenefit{
    font-family: inherit;
    position: relative;
}

.benefitBg{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
}
.benefitCont{
    position: fixed;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    height: 524px;
    width: 326px;
    border-radius: 7px;
    background: white;
    overflow: hidden;
    border: 1px solid rgba(138,150,163,.25);

}


.subBenefitImgBox{
    height: 128px;
    width: 100%;
    position: relative;
}

.subBenefitImg{
    height: 61%;
    width: 100%;
}

.subBenefitDp{
    height: 80px;
    width: 80px;
    border-radius: 70%;
    overflow: hidden;
    border:1px solid white;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.benefitName{
    font-size: 23px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.benefitEmail{
    text-align: center;
    font-size: 16px;
    color: rgba(138,150,163,1.25);
}

.contentBox{
    padding: 38px 20px 0;}

.contentHeader{
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: rgba(138,150,163,1.25);
    margin-bottom: 20px;

}

.benefitContent{
    display: flex;
    justify-content: start;
    margin: 10px 0;
}

.contentSvg{
    width: 15px;
    height: 15px;
}

.contentText{
    font-size: 14px;
    color:  #242529;;

}

.benefitBtn{
    width: 100%;
    border-radius: 28px;
    background: transparent;
    padding: 5px 15px;
    margin: 15px 0;
    border: 1px solid rgba(138,150,163,.25);
    outline: none;
}

.btncontentText{
    font-size: 13px;
    color: #00aff0;
    text-transform: uppercase;
    font-weight: 600;
}
.cardInfo{
    font-size: 12px;
    color: rgba(138,150,163,1.25);
    text-align: center;
}

.subComponentLink{
    text-decoration: none;
}