.fileSvg{
    width: 41px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
}

@media screen  and  (max-width: 800px){
    .fileSvg{
        top: 36%;
        left: 50%;
    }
}