.job{
    background-color: white;
    padding:  20px;
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jobContainer{
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.new{
    color: brown;
    font-size: 15px;
}
.jobTitle{
    font-size: 20px;
    font-weight: 600;
    
}

.location{
    margin-bottom: 10px;
}

.text{

}

.link{
    text-decoration: none;
    width: 100%;
    margin-top: 15px;
}

.jobBtn{
    background: green;
    color: white;
    width: 70%;
    padding:  10px;
    margin: 20px auto;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.jobBtn:focus{
    outline: none;
}

.titleImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.svg{
    height: 17px;
    width: 17px;

}

img{
    height: 100%;
    width: 100%;
}