.postGallary{
    position: relative;
}

.postContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 18px 0 ;
}
.pics_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.DpImg{
    height: 50px;
    width: 50px;
    margin-right:14px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.nameUsername{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.postName{
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    color: #242529;
}

.postUsername{
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color:  rgba(138,150,163,1.25);
}

.postImg{
    height: 555px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 7px
    
}
.postCaption{
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-family: inherit;
    color: #242529;
}

.line{
    width: 100%;
    height: 1px;
    background: rgba(138,150,163,.25);
    margin: 53px 0 20px;
}

@media screen and (max-width: 800px){

    .postContainer{
        width: 90%;
        margin: 0 auto;
    }

    .postImg{
         border-radius: unset;
    }
    .DpImg{
    margin-right: 10px;
    }

   
}