
.compBox{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background: pink;
    overflow: hidden;
}
.fullwidth{
    width: 100%;
}

.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 62px;
    width: 100%;
    background: aquamarine;
    list-style: none;
    text-align: center;
}

.items{
    cursor: pointer;
}