.container {
    font-family: sans-serif;
  }
  
  .dates {
    display: grid;
    grid-template-rows: repeat(2, 24rem);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    justify-content: center;
  }
  
  
  


  .cardXpanded{
    width: 4rem;
    height: 3rem;

}
  
  .card {
    cursor: pointer;
  }
  
  .expanded {
    width: 28rem;
    height: 29rem;
    position: relative;
    left: -320%;
    top: 0%;
  }
  
  .secondary {
    background-color: white;
    height: 2.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 8rem;
    margin-left: 1rem;
  }
  
  .compact {
    width: 100%;
    height: 100%;
  }
  
 

  .bg{
    position: absolute;
    top: 15px;
    right: 23px;  
  }


 
 
 .ActiveData{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;
    z-index: 500;
    display: flex;
    justify-content: center;
 }

 .cancelIcon{
    height: 15px;
    width: 13px;
    background-position: center;
    background-size: cover;
 }

 .dataContainer{
  overflow: hidden;
 }
 @media only screen  and  (max-width: 320px) {
   .bg{
    position: absolute;
    top: 15px;
    right: 55px;
   }
 }

 @media only screen  and  (max-width: 800px) {
  .dates{
    grid-template-rows: repeat(2, 9rem);
    padding: 0 0 10px;
    
    }

    .expanded{
      left: -240%;
      width: 24rem;
    }
 }