.otp-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1a1a1d;
}
.otp-conatiner{
    /* position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.otp{
    outline: none;
    border: 1px solid grey;
    max-width: 40px;
    height: 40px;
    margin: 5px;}

.otp-text{
    margin-bottom: 20px;
}

.p-text{
    color: black;
    font-size: 13px;
}