.subComponent{
    overflow: hidden;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 15px;
}

.subComponentbtn{
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: transparent;
}

.active{
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(138,150,163,.25);
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 9px;
    border-color: rgba(138,150,163,.25) rgba(138,150,163,.25) transparent rgba(138,150,163,.25);
    background: white;

}


.btnContainer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(138,150,163,.25);
    padding: 5px;
}

.subContent{
    margin-top: 20px;
}

.subBenefitBox{
    display: none;
}

.active{
    display: block;
}