.pics{
    
}

.gallaryContainer{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.picImgBox{
    width: 267px;
    height: 269px;    
}
.gallaryPics{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}