.headernav{
    background:  white;
    position: relative;
    top: 0;
    left: 0;
}

.headernavContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(138,150,163,.25);
    border-bottom: 1px solid rgba(138,150,163,.25);
    padding: 10px 100px;
}

.svgImg{
    height: 27px;
    width: 28px;
}

img{
    height: 100%;
    width: 100%
}

@media screen and (max-width: 760px){
    .headernavContainer{
        padding: 13px 10px;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 500;
        background: white;
    }
}