

.cardContainer{
    padding: 0 82px 40px;
    font-family: inherit;
}

.cardHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(138,150,163,.25);
    padding: 10px 0;
    margin: 10px 0;
}

.svgArrow{
    height: 15px;
    width: 15px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

.cardHeading{
    font-size: 18px;
    font-weight: 600;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.formCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}

.textDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.2;
}

.billingText{
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
    color: rgba(138,150,163,.90);
}

.detailedText{
    font-size: 13px;
    font-weight: 500;
    color: #242529;
}

.formleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}


.expiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    align-items: start;
}

.formFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.checkbox{
    border-radius: 67%;
    height: 11px;
    width: 11px;
    overflow: hidden;
}

.checkboxText{
   width: 86%;
}

.formBtn{
    margin: 36px 0;
    outline: none;
    border: none;
    padding: 7px 18px;
    border-radius: 24px;
    color: white;
    background: #00aff0;
    text-transform: uppercase;
    cursor: pointer;
} 

.onlyfansText{
    padding: 15px 0;
    margin: 20px 0;
    text-align: center;
    background: rgba(138,150,163,.25);
    border-radius: 5px;
    color:  rgba(138,150,163,1.25);;
}


@media screen and (max-width: 760px){
.cardContainer{
    padding: 0 20px 30px;
}

.formCont{
    flex-direction: column;
}

.formRight{
    width: 100%;
    margin-right: unset;
}

.formleft{
    margin-top: 35px;
}

.detailedText{
    text-align: left;
    width: 87%;
}

.textDetails{
    padding: 10px 0;
}

.onlyfansText{
    text-align: left;
    padding: 15px 5px;
}
}
