.home{
    background-color: rgb(249,249,249);
}

.homeContainer{
    position: relative;
}

.nav{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    z-index: 5000;
    background-size: cover;
    background-position: center;
}

.imgBox{
    /* width: 331px;
    height: 325px; */
    overflow: hidden;
}

.job-Container{

}

.jobText{
    font-size: 15px;
    color: grey;
    opacity: .8;
    text-align: left;
    width: 88%;
    margin: 30px auto 0;
    line-height: 1.2; 
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}