.home{
    position: relative;
    padding: 0 92px 30px 92px;
    font-family: inherit;
}

.homeCont{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.profilePics{
    height: 209px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.profilePicsCont{
    position: relative;
    width: 100%;

}
.profileImg{
    width: 100%;
    height: 100%;
}

.profileText{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 85%;
}

.subprofilePics{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 84%;
    left: 1.5%;
    border: 2px solid white;
    margin-bottom: 18px;
}


.svgText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.margin{
    margin: 15px 0;
}
.textContainer{
    margin-top: 61px;
    padding: 15px;
}

.usernameBox{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
font-family: inherit;    
}

.username{
    font-size: 23px;
    font-weight: 600;
}

.likes{
    font-size: 14px;
    font-weight: 500;
}

.svgArrow{
    height: 20px;
    width: 20px;
    background-size: cover;
    background-position: center;
    padding : 0 11px ;
    margin-right: 23px;
}

.btn{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #00aff0;
}

.subcontianer{
    padding: 10px 18px;
    border: 1px solid rgba(138,150,163,.25);
}

.subText{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.subBtn{
    background-color: #00aff0;
    color: white;
    width: 100%;
    border-radius: 30px;
    padding: 10px 0;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
}

.textcontent{
    height: 25px;
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    color: #242529;
}

.info{
    height: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    color: #242529;
}

.infotext{
    margin: 10px 0 ;
}

@media screen and (max-width: 760px){
    .textContainer{
        margin-top: 46px;    }

    .subprofilePics{
        top: 84%;
        left: 3%;
    }

    .margin{
        text-align: left;
    }

    .profilePics{
        height: 195px;
        border-radius: unset;
    }

    .homeCont{
        width: 100%;
    }

    .home{
        padding: unset;
    }

    .profileText{
        width: 100%;
        padding: 0 12px;
    }

    .username{
        font-size: 18px;
    }
}