.input-form-container{
    max-width: 375px;
    margin: 0 auto;
}

.input-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.form-input{
    width: 60%;
    padding: 8px 12px;
    border: 1px solid black;
    font-size: 14px;
    margin:  20px;
}

.btn{
    margin-bottom: 20px;
}