

.formInputCont{
    margin: 10px 0;
    position: relative;
    width: 100%;

}

.formInput{
    border-color:  rgba(138,150,163,.25);
    outline: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    background: white !important;
}

.formInput:focus ~ .formlabel{
    top: -11px;
    font-size: 14px;
    color: #00aff0;
    background: white;
    padding: 0 5px;
}

.formlabel{
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 16px;
    color: rgba(138,150,163,1.25);
    transition: 300ms ease all;
}

.shrink{
    top: -11px;
    font-size: 14px;
    color: #00aff0;
    background: white;
    padding: 0 5px;
}

.smallWidth{
    border-color:  rgba(138,150,163,.25);
    outline: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    width:    94%;;
    margin: 0 auto;
}
