.section2-container{
}

.box{
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
/* width: 100%; */
margin: 10px;
background-color: white;


}

.room-img-text{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.room-img{
    height: 7rem;
    width: 10rem;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.room-text{
    color: blue;
    padding: 10px;
}

.room-text-2{
    padding: 10px;
    align-self: flex-end;
    width: 98px;
    color: red;
    font-weight: 700;
}

.room-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    padding: 13px;
}


.line{
    display: inline-block;
    background-color: grey;
    height: 1px;
    width: 93%;
    margin: 0 auto;}
.type-text{

}

.type-price{
    font-size: 15px;
    font-weight: 700;
}

.type-btn{
    outline: none;
    background-color: green;
    padding: 12px 20px;
    border-radius: 2px;
    color: white;
    font-size: 12px;
    font-weight: 700;
}