.picture{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: inherit;
}

.picsText{
    padding: 0px 0 25px 0;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}
.pictureImg{
    height: 577px;
    width: 100%;
    border-radius: 10px;
}

.lockSvg{
    width: 41px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.pictureBtn{
    border: none;
    background:#00aff0; ;
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 29px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 760px){

    .pictureBtn{
        bottom: 72px;
        left: 50%;
    }

    .lockSvg{
        top: 46%;
    }

    .pictureImg{
        height: 245px;
    }

    .picsText{
        padding-left: 10px;
    }
    .svgImg{
        margin: unset;
    }
}